<!-- <super-tune-header></super-tune-header> -->

<h1>SuperTune - Songs of the week</h1>
<hr />
<sort-button
  (click)="SortByName()"
  displayText="Sort by Song Name"
  otherThing="asdfsaf"
></sort-button>
<sort-button
  (click)="SortByRating()"
  displayText="Sort by Rating"
></sort-button>
<input
  type="text"
  placeholder="Search For a song..."
  (keyup)="OnFilterTextChange($event)"
/>

<hr />
<song-item
  *ngFor="let song of songs | filterBySongName: filterText; let i = index"
  imageurl="{{ song.image }}"
  songname="{{ song.name }}"
  rating="{{ song.rating }}"
  (onRatingChange)="SongRatingChange($event, i)"
></song-item>

<span *ngFor="let song of songs"
  >{{ song.name }} ---- {{ song.rating }};;;;;;;</span
>
